


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@ViewBag.Title</title>

    <script src="//use.edgefonts.net/quicksand;forum.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

    <style>
        html {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -moz-transform-origin: top left;
            -webkit-transform-origin: top left;
            transform-origin: top left;
        }
        *, *:before, *:after {
          -moz-box-sizing: inherit;
          -webkit-box-sizing: inherit;
          box-sizing: inherit;
        }

        body {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        div{
            font-family:Arial;
            cursor:default;
        }

        .menu_option {
            cursor:pointer;
            clear:left;
            margin-bottom:10px;
            overflow:auto;
        }
        .menu_option:hover {
            background-color:#ebebeb;
            color:black;
        }
        .menu_option_selected {
            background-color:silver;
        }

        #main_content {
            width:1420px;
            height:710px;
            position:relative;
        }
        
        .next_previous_btn {
            background: #cfd0d1;
            background-image: -webkit-linear-gradient(top, #cfd0d1, #696969);
            background-image: -moz-linear-gradient(top, #cfd0d1, #696969);
            background-image: -ms-linear-gradient(top, #cfd0d1, #696969);
            background-image: -o-linear-gradient(top, #cfd0d1, #696969);
            background-image: linear-gradient(to bottom, #cfd0d1, #696969);
            -webkit-border-radius: 9px;
            -moz-border-radius: 9px;
            border-radius: 9px;
            color: #ffffff;
            padding: 10px 20px 10px 20px;
            text-decoration: none;
            font-size:10pt;
            font-family:quicksand;
        }

        .next_previous_btn_hover {
            background: #696969;
            background-image: -webkit-linear-gradient(top, #696969, #cfd0d1);
            background-image: -moz-linear-gradient(top, #696969, #cfd0d1);
            background-image: -ms-linear-gradient(top, #696969, #cfd0d1);
            background-image: -o-linear-gradient(top, #696969, #cfd0d1);
            background-image: linear-gradient(to bottom, #696969, #cfd0d1);
            text-decoration: none;
        }


        .page-fold-button:hover {
            background-color:lightblue;
            opacity: 0.4;
        }

        .page-fold-image {
            -moz-transform-origin: top right;
            -webkit-transform-origin: top right;
            transform-origin: top right;
        }


        .menu {
            width:120px;
        }

        .bookmarkItem {
            display:block;margin:20px;overflow:auto;
        }

        .bookmarkTitle {
            color:white;font-weight:bold;font-size:14pt
        }

        .bookmarkNavigation {
            text-align:center;color:#ebebeb
        }

        .header_l2 {
            cursor: pointer;
            font-family: quicksand, sans-serif;
            float: left;
            border: 1px solid white;
            color: white;
            border-radius: 10px;
            text-align: center;
            margin-top: 7px;
            font-size: 10pt;
            margin-right: 15px;
            padding: 5px 20px 5px 20px;
        }

        .header_l2_selected {
            background-color: silver;
            color: #2c3e50;
        }

        .header_l3 {
            cursor:pointer;
            font-family: quicksand, sans-serif;
            float: left;
            margin-bottom: 0;
            padding: 5px 20px 0 20px;
            margin-top: 7px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            margin-right:10px
        }

        .header_l3_selected {
            background-color: white;
        }

        .ui-widget-overlay  {
            position:absolute;
        }

        .ui-dialog-titlebar-close {
          visibility: hidden;
        }

    </style>

    @RenderSection("Styles", false)

</head>


<body style="width:1420px;height:854px;position:relative;border:1px solid">

    <div style="width:100%;height:30px;background-color:#d5d5d5">
        <div class="menu_button" style="float:left;margin-left:10px;background-color:#a7a9ac;height:30px;width:120px;text-align:center;border-bottom-right-radius:10px;border-bottom-left-radius:10px;cursor:pointer">
            <div style="margin-top:2px;cursor:pointer">MENU</div>
        </div>
        <div class="menu" style="position:absolute;top:18px;left:10px;background:#a7a9ac;z-index:99999;display:none;padding:15px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;width:120px;">
            @RenderSection("Level1Navigation", false)
        </div>
        <div style="float:left;width:1230px">
            <div style="display:table;margin: 0 auto;">
                <img style="float:left;margin-right:10px;height:25px;margin-top:2px" src="~/Content/Images/comfortlogo2.png" />
                <div style="float:left;background-color:#2c3e50;width:450px;height:30px;color:#d5d5d5;">
                    <div style="float:left;text-align:center;width:150px;font-family:quicksand, sans-serif;margin-top:5px">Training</div>
                    <div style="float: left; text-align: center; width: 150px; font-family: quicksand, sans-serif; margin-top: 5px; ">Date: 06-01-15</div>
                    <div style="float: left; text-align: center; width: 150px; font-family: quicksand, sans-serif; margin-top: 5px; ">ID#: 036</div>
                </div>
                <div onclick="toggleBookmarks()" style="float:left;margin-left:125px;cursor:pointer;background-color:red;border-bottom-left-radius:10px;border-bottom-right-radius:10px;color:white;padding:5px 20px 5px 20px">
                    bookmarks
                </div>
                <div id="bookmarks" style="position:absolute;width:376px;background:red;right:10px;top:20px;display:none;border-bottom-right-radius:10px;border-bottom-left-radius:10px;border-top-right-radius:10px;padding:10px;z-index:9999">
                    @RenderSection("Bookmarks", false)
                </div>
            </div>
        </div>

        <div style="float:right;margin-top:8px;margin-right:20px;cursor:pointer;">
            EXIT
        </div>
    </div>
    <div class="navigation_image" style="position:absolute;top:30px;left:140px;width:71px;height:71px;background-color:white;padding:5px">
        @RenderSection("NavigationImage", false)
    </div>
    <div onclick="hideMenu()" id="colorChangeDiv" style="width:100%;height:40px;background-color:#FFC314;clear:left">
        <div class="navigation_title" style="float:left;margin-left:230px;font-size:16pt;color:white;margin-top:9px;text-align:center;font-family:forum, sans-serif;margin-right:20px">
            @RenderSection("NavigationTitle", false)
        </div>
        <div class="level_2_navigation" style="float:right;width:890px;height:40px;margin-right:100px">
            @RenderSection("Level2Navigation", false)
        </div>
    </div>
    <div onclick="hideMenu()" style="width:100%;height:30px;background-color:#bdc3c7">
        <div class="level_3_navigation" style="display:table;margin:0 auto;">
            @RenderSection("Level3Navigation", false)
        </div>
    </div>

    <div id="main_content" onclick="hideMenu()">
        @RenderSection("Content", false)
    </div>


    <div style="position:absolute;bottom:0;left:0;width:1420px;height:40px;">
        <div id="previous_button" class="next_previous_btn" style="float:left;margin-left:20px">&lt; previous</div>
        <div id="next_button" class="next_previous_btn" style="float:right;margin-right:20px;">next &gt;</div>
    </div>

    @*<div id="screenshot-button" style="position:absolute;bottom:200px;left:200px;border: 1px solid;padding:50px;background-color:blue;color:white;font-weight:bold">test screenshot</div>

        <div id="windowHeightTest" style="position:absolute;bottom:100px"></div>
        <div id="windowHeightTest1" style="position:absolute;bottom:120px"></div>
        <div id="windowHeightTest2" style="position:absolute;bottom:80px"></div>
        <div id="windowHeightTest3" style="position:absolute;bottom:60px"></div>*@

    <div id="bookmarkPopup">
        <input id="bookmark_title" type="text" placeholder="enter a page title..."/>
        <textarea id="bookmark_notes" placeholder="add notes..."></textarea>
        <input id="bookmark_string" style="display:none" type="text" />
        <input id="bookmark_a" style="display:none" type="text" />
        <input id="bookmark_b" style="display:none" type="text" />
        <input id="bookmark_c" style="display:none" type="text" />
    </div>

</body>


</html>


<script>var urlRoot = '@Url.Content("~/")';</script>
<script src="~/Scripts/jquery-2.1.4.min.js"></script>
<script src="~/Scripts/jquery-ui-1.11.4.min.js"></script>
@*<script src="~/Scripts/jquery-ui-1.11.4.js"></script>*@
<script src="~/Scripts/ClickPlugin.js"></script>

<script>
    //set this variable
    var USE_THIS_SCALE;
    var showingMenu = false;
    var nav_l1_max = 5;
    var WaitingForLoad = 0;
    var LoadCounter = 0;

    function unbindAll() {
        $("#screenshot-button").unbind();
        $("#previous_button").unbind();
        $("#next_button").unbind();
        $(".menu_button").unbind();
        $(".menu_option").unbind();
        $(".header_l2").unbind();
        $(".header_l3").unbind();
    }

    function init() {
        WaitingForLoad = 0;
        LoadCounter = 0;
        unbindAll();


        //change color
        var a = getNavigationA();
        switch (a) {
            case 1:
                $("#colorChangeDiv").css('background-color', '#FFC314');
                break;
            case 2:
                $("#colorChangeDiv").css('background-color', '#33ACB0');
                break;
            case 3:
                $("#colorChangeDiv").css('background-color', '#FF9A30');
                break;
            case 4:
                $("#colorChangeDiv").css('background-color', '#F55014');
                break;
            case 5:
                $("#colorChangeDiv").css('background-color', '#797979');
                break;
        }

        $("#screenshot-button").tomclick("", "", function (el) {
            var a = getNavigationA();
            var b = getNavigationB();
            var c = getNavigationC();

            var loadUrl = '@Html.Raw(Url.Action("CreateImage", new { a=99999, b=88888, c=77777, scale=66666 }))';
            loadUrl = loadUrl.replace("99999", a);
            loadUrl = loadUrl.replace("88888", b);
            loadUrl = loadUrl.replace("77777", c);
            loadUrl = loadUrl.replace("66666", USE_THIS_SCALE);

            window.open(loadUrl);
        });


        $("#previous_button").tomclick("", "", function () {
            var current_a = getNavigationA();
            var current_b = getNavigationB();
            var current_c = getNavigationC();

            var use_a = 0;
            var use_b = 0;
            var use_c = 0;

            var okayToLoad = true;

            var consoleLog;

            if (current_c > 1) {
                //next page = current_a, current_b, a+1
                consoleLog = current_a + ", " + current_b + ", " + (current_c - 1);
                use_a = current_a;
                use_b = current_b;
                use_c = current_c - 1;
            } else {
                //no more l3 pages, go up to l2
                if (current_b > 1) {
                    //next page = current_a, b+1, 1
                    consoleLog = current_a + ", " + (current_b - 1) + ", 1";
                    use_a = current_a;
                    use_b = current_b - 1;
                    use_c = 1;
                } else {
                    //no more l2 pages, go up to l1
                    if (current_a > 1) {
                        //next page = a+1, 1, 1
                        consoleLog = (current_a - 1) + ", 1, 1";
                        use_a = current_a - 1;
                        use_b = 1;
                        use_c = 1;
                    } else {
                        consoleLog = "no more pages";
                        okayToLoad = false;
                    }
                }
            }

            console.log(consoleLog);

            if (okayToLoad) {

                if (current_a == use_a && current_b == use_b) {

                    //only need to load level 3 and content
                    NavigateLevel3(use_a, use_b, use_c);

                } else if (current_a == use_a) {
                    //load level 2 and level 3 and content
                    NavigateLevel2(use_a, use_b);

                } else {
                    //load all
                    NavigateLevel1(use_a);

                }
            }

        });
        $("#next_button").tomclick("", "", function () {
            var current_a = getNavigationA();
            var current_b = getNavigationB();
            var current_c = getNavigationC();

            var use_a = 0;
            var use_b = 0;
            var use_c = 0;

            var okayToLoad = true;

            var consoleLog;

            if (current_c < nav_l3_max) {
                //next page = current_a, current_b, a+1
                consoleLog = current_a + ", " + current_b + ", " + (current_c + 1);
                use_a = current_a;
                use_b = current_b;
                use_c = current_c + 1;
            } else {
                //no more l3 pages, go up to l2
                if (current_b < nav_l2_max) {
                    //next page = current_a, b+1, 1
                    consoleLog = current_a + ", " + (current_b + 1) + ", 1";
                    use_a = current_a;
                    use_b = current_b + 1;
                    use_c = 1;
                } else {
                    //no more l2 pages, go up to l1
                    if (current_a < nav_l1_max) {
                        //next page = a+1, 1, 1
                        consoleLog = (current_a + 1) + ", 1, 1";
                        use_a = current_a + 1;
                        use_b = 1;
                        use_c = 1;
                    } else {
                        consoleLog = "no more pages";
                        okayToLoad = false;
                    }
                }
            }

            console.log(consoleLog);
            if (okayToLoad) {

                if (current_a == use_a && current_b == use_b) {

                    //only need to load level 3 and content
                    NavigateLevel3(use_a, use_b, use_c);

                } else if (current_a == use_a) {
                    //load level 2 and level 3 and content
                    NavigateLevel2(use_a, use_b);

                } else {
                    //load all
                    NavigateLevel1(use_a);

                }
            }

        });

        var outerHeight = window.outerHeight;
        var outerWidth = window.outerWidth;

        var heightRatio = outerHeight / 937;
        var widthRatio = outerWidth / 1455;
        var testStr = "h: " + heightRatio + " - w: " + widthRatio;


        $("#windowHeightTest1").text(testStr);
        //$("#windowHeightTest3").text();

        //var scale = 'scale(' + heightRatio + ')';
        //$("html").css('transform', scale);
        //$("#windowHeightTest2").text("scaling by: " + heightRatio);

        if (heightRatio != 1 && widthRatio != 1) {
            if (heightRatio < widthRatio) {
                //use heightRatio for scale
                heightRatio -= 0.015;
                USE_THIS_SCALE = heightRatio;
                var scale = 'scale(' + heightRatio + ')';
                $("html").css('transform', scale);
                $("#windowHeightTest2").text("scaling by: " + heightRatio);
            } else {
                //use widthRatio for scale
                widthRatio -= 0.015;
                USE_THIS_SCALE = widthRatio;
                var scale = 'scale(' + widthRatio + ')';
                $("html").css('transform', scale);
                $("#windowHeightTest2").text("scaling by: " + widthRatio);
            }
        } else {
            USE_THIS_SCALE = 1;
        }


        $("#testButton").tomclick("", "", function () {

        });

        var h = window.outerHeight;
        var w = window.outerWidth;
        var str = "h: " + h + " - w: " + w;
        $("#windowHeightTest").text(str);

        $(".menu_button").tomclick("", "", function (element) {
            if ($(".menu").css('display') == "none") {
                $(".menu").slideDown();
            } else {
                $(".menu").slideUp();
            }
        });

        $(".menu_option").tomclick("", "", function (element) {
            $(".menu").slideUp();

            $(".menu_option").removeClass('menu_option_selected');
            $(element).addClass("menu_option_selected");

            $(".header_l3").removeClass("header_l3_selected");
            $(".header_l3").first().addClass("header_l3_selected");
            $(".header_l2").removeClass("header_l2_selected")
            $(".header_l2").first().addClass("header_l2_selected");



            //load w/ parameters
            NavigateLevel1(getNavigationA());

        });


        $(".header_l2").tomclick("", "", function (element) {
            $(".header_l3").removeClass("header_l3_selected");
            $(".header_l3").first().addClass("header_l3_selected");
            $(".header_l2").removeClass("header_l2_selected")
            $(element).addClass("header_l2_selected");



            //load w/ parameters
            NavigateLevel2(getNavigationA(), getNavigationB());

        });


        $(".header_l3").tomclick("", "", function (element) {
            $(".header_l3").removeClass("header_l3_selected")
            $(element).addClass("header_l3_selected");

            //load w/ parameters
            NavigateLevel3(getNavigationA(), getNavigationB(), getNavigationC());

        });
    }

    $(function () {

        init();

        $("#bookmarkPopup").dialog({
            autoOpen: false,
            modal: true,
            close: function () {
                $("#bookmark_string").val('');
                $("#bookmark_title").val('');
                $("#bookmark_notes").val('');
                $("#bookmark_a").val('');
                $("#bookmark_b").val('');
                $("#bookmark_c").val('');
            },
            buttons: [{
                text: "Cancel",
                click: function () {
                    var a = getNavigationA();
                    var b = getNavigationB();
                    var c = getNavigationC();

                    var str = "page_" + a + "_" + b + "_" + c;
                    PageFoldAnimate(str, false);

                    $(this).dialog("close");
                }
            }, {
                text: "Add Bookmark",
                click: function () {
                    var user_title = $("#bookmark_title").val();
                    var nav_title = $("#bookmark_string").val();
                    var notes = $("#bookmark_notes").val();
                    var a = $("#bookmark_a").val();
                    var b = $("#bookmark_b").val();
                    var c = $("#bookmark_c").val();

                    $.ajax({
                        url: '@Url.Action("AddBookmark")',
                        data: {
                            a: a,
                            b: b,
                            c: c,
                            user_title: user_title,
                            nav_title: nav_title,
                            notes: notes
                        },
                        type: 'POST',
                        success: function (data) {
                            console.log('success', data);
                            //render bookmarks id
                            $("#bookmarks").empty();
                            $("#bookmarks").load('@Url.Action("RenderBookmarks")');
                            $("#bookmarkPopup").dialog("close");
                        }
                    });
                }
            }]
        });

    });

    function hideMenu() {
        $(".menu").slideUp();
        var len = $.trim($('#bookmarks').html()).length;

        if ($("#bookmarks").css('display') != "none") {
            $("#bookmarks").slideUp();
            if (len == 0)
                $("#bookmarks").empty();
        }
    }

    function getNavigationA() {
        var arr = $(".menu").find(".menu_option");
        for (var i = 0; i < arr.length; i++) {
            if ($(arr[i]).hasClass('menu_option_selected')) {
                return i + 1;
            }
        }
        return -1;
    }
    function getNavigationB() {
        var arr = $(".level_2_navigation").find(".header_l2");
        for (var i = 0; i < arr.length; i++) {
            if ($(arr[i]).hasClass('header_l2_selected')) {
                return i + 1;
            }
        }
        return -1;
    }
    function getNavigationC() {
        var arr = $(".level_3_navigation").find(".header_l3");
        for (var i = 0; i < arr.length; i++) {
            if ($(arr[i]).hasClass('header_l3_selected')) {
                return i + 1;
            }
        }
        return -1;
    }


    function loadSuccess() {

        var scale = 'scale(' + USE_THIS_SCALE + ')';
        $("html").css('transform', scale);

        var navA = getNavigationA();
        switch (navA) {
            case 1:
                $("#colorChangeDiv").css('background-color', '#FFC314');
                break;
            case 2:
                $("#colorChangeDiv").css('background-color', '#33ACB0');
                break;
            case 3:
                $("#colorChangeDiv").css('background-color', '#FF9A30');
                break;
            case 4:
                $("#colorChangeDiv").css('background-color', '#F55014');
                break;
            case 5:
                $("#colorChangeDiv").css('background-color', '#797979');
                break;
        }
    }

    function togglePageFold(pg, element) {
        var pre = $(element).prev();

        var a = getNavigationA();
        var b = getNavigationB();
        var c = getNavigationC();
        
        var idStr = "bookmark_" + a + "_" + b + "_" + c;

        if ($(pre).css('display') == "none") {

            PageFoldAnimate(pg, true);

            var nav_title = getNavDescription(a, b, c);

            $("#bookmark_string").val(nav_title);
            $("#bookmark_a").val(a);
            $("#bookmark_b").val(b);
            $("#bookmark_c").val(c);
            $("#bookmarkPopup").dialog("open");


        } else {
            var c = confirm("This will remove your bookmark, and delete your notes on this page, is that okay?");
            if (c) {
                PageFoldAnimate(pg, false);
                $.ajax({
                    url: '@Url.Action("RemoveBookmark")',
                    data: {
                        id: idStr
                    },
                    type: 'POST',
                    success: function (data) {
                        console.log('success', data);
                        //render bookmarks id
                        $("#bookmarks").empty();
                        $("#bookmarks").load('@Url.Action("RenderBookmarks")');
                    }
                });
            }
        }

    }

    function toggleBookmarks() {
        var len = $.trim($('#bookmarks').html()).length;

        if ($("#bookmarks").css('display') == "none") {
            if (len == 0) {
                var addDiv = "<div style='color:white;font-style:italic;text-align:center'>you currently have no bookmarks</div>";
                $("#bookmarks").append($(addDiv));
            }
            $("#bookmarks").slideDown();
        } else {
            $("#bookmarks").slideUp();
            if (len == 0)
                $("#bookmarks").empty();
        }
    }

    function getNavDescription(a, b, c) {
        var ret_str = "";

        switch (a) {
            case 1:
                ret_str += "Fundoscopy > ";
                switch (b) {
                    case 1:
                        ret_str += "Objective > Overview";
                        break;
                    case 2:
                        ret_str += "Foundation > ";
                        switch (c) {
                            case 1:
                                ret_str += "Items";
                                break;
                            case 2:
                                ret_str += "CellScope";
                                break;
                            case 3:
                                ret_str += "Imaging";
                                break;
                        }
                        break;
                    case 3:
                        ret_str += "Setup > ";
                        switch (c) {
                            case 1:
                                ret_str += "Room & Subject";
                                break;
                            case 2:
                                ret_str += "CellScope";
                                break;
                        }
                        break;
                    case 4:
                        ret_str += "Exam procedure > ";
                        switch (c) {
                            case 1:
                                ret_str += "Video";
                                break;
                            case 2:
                                ret_str += "Step-by-step";
                                break;
                        }
                        break;
                    case 5:
                        ret_str += "Tips > Tips";
                        break;
                    case 6:
                        ret_str += "Quiz > Quiz";
                        break;
                    case 7:
                        ret_str += "Pathology > Pathology"; 5
                        break;
                }
                break;
            case 2:
                ret_str += "Kidney & Bladder >";
                switch (b) {
                    case 1:
                        ret_str += "Objective > Overview";
                        break;
                    case 2:
                        ret_str += "Foundation > ";
                        switch (c) {
                            case 1:
                                ret_str += "Probe handling";
                                break;
                            case 2:
                                ret_str += "Imaging";
                                break;
                        }
                        break;
                    case 3:
                        ret_str += "Setup > ";
                        switch (c) {
                            case 1:
                                ret_str += "Room & subject";
                                break;
                            case 2:
                                ret_str += "Ultrasound machine";
                                break;
                            case 3:
                                ret_str += "Image acquisition";
                                break;
                        }
                        break;
                    case 4:
                        ret_str += "Exam procedure > ";
                        switch (c) {
                            case 1:
                                ret_str += "Right Kidney";
                                break;
                            case 2:
                                ret_str += "Left Kidney";
                                break;
                            case 3:
                                ret_str += "Bladder";
                                break;
                        }
                        break;
                    case 5:
                        ret_str += "Pathology > Pathology";
                        break;
                    case 6:
                        ret_str += "Quiz > Quiz";
                        break;
                }
                break;
            case 3:
                ret_str += "Intubation >";
                switch (b) {
                    case 1:
                        ret_str += "Objective > Overview";
                        break;
                    case 2:
                        ret_str += "Foundation > ";
                        switch (c) {
                            case 1:
                                ret_str += "Airway management";
                                break;
                            case 2:
                                ret_str += "ILMA";
                                break;
                        }
                        break;
                    case 3:
                        ret_str += "Setup > ";
                        switch (c) {
                            case 1:
                                ret_str += "ItemsRoom & subject";
                                break;
                            case 2:
                                ret_str += "Equipment";
                                break;
                        }
                        break;
                    case 4:
                        ret_str += "Exam procedure > ";
                        switch (c) {
                            case 1:
                                ret_str += "Video";
                                break;
                            case 2:
                                ret_str += "Step-by-step";
                                break;
                        }
                        break;
                    case 5:
                        ret_str += "Quiz > Quiz";
                        break;
                    case 6:
                        ret_str += "Tips > Tips";
                        break;
                }
                break;
            case 4:
                ret_str += "IV Insertion >";
                switch (b) {
                    case 1:
                        ret_str += "Objective > Overview";
                        break;
                    case 2:
                        ret_str += "Foundation > ";
                        switch (c) {
                            case 1:
                                ret_str += "Quick start";
                                break;
                            case 2:
                                ret_str += "Probe handling";
                                break;
                            case 3:
                                ret_str += "Imaging";
                                break;
                            case 4:
                                ret_str += "Needle handling";
                                break;
                        }
                        break;
                    case 3:
                        ret_str += "Setup > ";
                        switch (c) {
                            case 1:
                                ret_str += "Subject";
                                break;
                            case 2:
                                ret_str += "Ultrasound machine";
                                break;
                            case 3:
                                ret_str += "Procedure supplies";
                                break;
                        }
                        break;
                    case 4:
                        ret_str += "Exam procedure > ";
                        switch (c) {
                            case 1:
                                ret_str += "Video";
                                break;
                            case 2:
                                ret_str += "Step-by-step";
                                break;
                        }
                        break;
                    case 5:
                        ret_str += "Quiz > Quiz";
                        break;
                    case 6:
                        ret_str += "Troubleshooting > Troubleshooting";
                        break;
                }
                break;
        }

        return ret_str;
    }





















    function NavigateLevel1(a) {
        LoadCounter = 1;
        WaitingForLoad = 6;

        var loadUrl = '@Html.Raw(Url.Action("GetNavigationTitle", new { nav = 99999 }))';
        loadUrl = loadUrl.replace("99999", a);
        $(".navigation_title").load(loadUrl, NewLoadFinish);

        loadUrl = '@Html.Raw(Url.Action("GetNavigationImage", new { nav = 99999 }))';
        loadUrl = loadUrl.replace("99999", a);
        $(".navigation_image").load(loadUrl, NewLoadFinish);

        loadUrl = '@Html.Raw(Url.Action("GetLevel1Navigation", new { nav = 99999 }))';
        loadUrl = loadUrl.replace("99999", a);
        $(".menu").load(loadUrl, NewLoadFinish);

        loadUrl = '@Html.Raw(Url.Action("GetLevel2Navigation", new { nav_a = 99999, nav_b = 1}))';
        loadUrl = loadUrl.replace("99999", a);
        $(".level_2_navigation").load(loadUrl, NewLoadFinish);

        loadUrl = '@Html.Raw(Url.Action("GetLevel3Navigation", new { nav_a = 99999, nav_b = 1, nav_c = 1 }))';
        loadUrl = loadUrl.replace("99999", a);
        $(".level_3_navigation").load(loadUrl, NewLoadFinish);

        loadUrl = '@Html.Raw(Url.Action("GetContent", new { nav_a = 99999, nav_b = 1, nav_c = 1 }))';
        loadUrl = loadUrl.replace("99999", a);
        $("#main_content").load(loadUrl, NewLoadFinish);
    }
    function NavigateLevel2(a, b) {
        LoadCounter = 1;
        WaitingForLoad = 3;

        var loadUrl = '@Html.Raw(Url.Action("GetLevel2Navigation", new { nav_a = 99999, nav_b = 88888}))';
        loadUrl = loadUrl.replace("99999", a);
        loadUrl = loadUrl.replace("88888", b);
        $(".level_2_navigation").load(loadUrl, NewLoadFinish);

        loadUrl = '@Html.Raw(Url.Action("GetLevel3Navigation", new { nav_a = 99999, nav_b = 88888, nav_c = 1 }))';
        loadUrl = loadUrl.replace("99999", a);
        loadUrl = loadUrl.replace("88888", b);
        $(".level_3_navigation").load(loadUrl, NewLoadFinish);

        loadUrl = '@Html.Raw(Url.Action("GetContent", new { nav_a = 99999, nav_b = 88888, nav_c = 1 }))';
        loadUrl = loadUrl.replace("99999", a);
        loadUrl = loadUrl.replace("88888", b);
        $("#main_content").load(loadUrl, NewLoadFinish);
    }
    function NavigateLevel3(a, b, c) {
        LoadCounter = 1;
        WaitingForLoad = 2;

        var loadUrl = '@Html.Raw(Url.Action("GetLevel3Navigation", new { nav_a = 99999, nav_b = 88888, nav_c = 77777 }))';
        loadUrl = loadUrl.replace("99999", a);
        loadUrl = loadUrl.replace("88888", b);
        loadUrl = loadUrl.replace("77777", c);
        $(".level_3_navigation").load(loadUrl, NewLoadFinish);

        loadUrl = '@Html.Raw(Url.Action("GetContent", new { nav_a = 99999, nav_b = 88888, nav_c = 77777 }))';
        loadUrl = loadUrl.replace("99999", a);
        loadUrl = loadUrl.replace("88888", b);
        loadUrl = loadUrl.replace("77777", c);
        $("#main_content").load(loadUrl, NewLoadFinish);
    }


    function NewLoadFinish() {
        console.log('counter', LoadCounter);
        console.log('waiting', WaitingForLoad);

        if (WaitingForLoad == LoadCounter)
            init();
        else
            LoadCounter++;
    }















    function PageFoldAnimate(id, isShow) {
        //set width to 15, animate width to 65
        if (isShow) {
            $("#" + id).width(15);
            $("#" + id).show();
            $("#" + id).animate({
                width: 65
            });
        } else {
            $("#" + id).animate({
                width: 15
            });
            $("#" + id).fadeOut();
            $("#" + id).width(65);
        }
        
    }
</script>

@RenderSection("Scripts", false)






