
@{string foldId = "page_" + ViewBag.Nav_A + "_" + ViewBag.Nav_B + "_" + ViewBag.Nav_C + "_" + ViewBag.Nav_D;
}

@if ((bool)ViewBag.IsBookmarked == true)
{
    <script>
        var CurrentPageIsBookmarked = true;
    </script>
    <img id="@foldId" class="page-fold-image" src="~/Content/page-fold.png" style="position:absolute;top:0;right:2px;width:65px;z-index:899" />
}
else
{
    <script>
        var CurrentPageIsBookmarked = false;
    </script>
    <img id="@foldId" class="page-fold-image" src="~/Content/page-fold.png" style="position:absolute;top:0;right:2px;width:65px;display:none;z-index:899" />
}
<div data-foldid="@foldId" class="page-fold-button" style="position:absolute;top:0;right:2px;width:65px;height:65px;z-index:900"></div>

@*Actual content starts here*@
<div style="width: 1418px; height: 710px; display: block; position: absolute; top: 0; left: 0;background-color:mintcream">
    @if ((bool)ViewBag.HasContent)
    {
        <!--Adobe Edge Runtime-->
        <script type="text/javascript" charset="utf-8" src="~/Content/EdgeFiles/edge_includes/edge.5.0.1.js"></script>
        <style>
            .edgeLoad-@ViewBag.EdgeClass {
                visibility: hidden;
            }
        </style>
        <script>   AdobeEdge.loadComposition('@ViewBag.FileName', '@ViewBag.EdgeClass', { scaleToFit: "none", centerStage: "none", minW: "0", maxW: "undefined", width: "550px", height: "400px" }, { dom: [] }, { dom: [] });    </script> 
        <!--Adobe Edge Runtime End-->
        <div id="stage" class="@ViewBag.EdgeClass"></div> 
    
    }
    else
    {
        <div style="margin-top:50px;margin-left:50px">Page @ViewBag.Nav_A, @ViewBag.Nav_B, @ViewBag.Nav_C, @ViewBag.Nav_D</div>
    }
    
    <!--Insert Edge End-->
</div>
@*Actual content ends here*@

@if ((bool)ViewBag.IsBookmarked == true)
{
    <input id="current-bookmark-id" value="@ViewBag.BookmarkId" style="display:none;" />
    <div id="maximized_notes" style="position:absolute;bottom:10px;right:10px;padding:10px;width:500px;height:500px;z-index:500;background-image:url(@Url.Content("~/")Content/legal-pad.jpg);background-size:100%">
        <div style="color:white;width:475px;text-align:center;font-size:16pt">@ViewBag.BookmarkTitle</div>
        <div style="margin-top:20px;margin-left:-10px">
            <div id="minimize-notes-button" style="font-size:10pt;border:1px solid;width:75px;height:60px;padding-top:20px;padding-left:10px;border-radius:10px;float:left;background:#ebebeb" >minimize</div>
            <div id="save-button" style="float:left;border:1px solid;margin-left:115px;width:200px;height:40px;margin-top:10px;padding: 10px 0 0 80px;background-color:lightgreen;font-weight:bold">saved</div>
            <div id="edit-button" style="float:left;border:1px solid;margin-left:115px;width:200px;height:40px;margin-top:10px;display:none;background-color:lightcoral;font-weight:bold;text-align:center">
                <div>edited...</div>
                <div style="font-weight:normal">(click to save)</div>
            </div>
        </div>
        <textarea class="textarea-notes" style="margin-top:5px;margin-left:80px;width:398px;height:355px;background-color:rgba(0,0,0, 0);border-radius:10px">@ViewBag.BookmarkNotes</textarea>
    </div>
    <div id="minimized_notes" style="position: absolute; bottom: 10px; right: 10px; padding: 10px; width: 60px; height: 40px; z-index: 499; display: none;background-image:url(@Url.Content("~/")Content/legal-pad.jpg);background-size:100%" >
        <div>notes</div>
    </div>
}
